# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\albam\Desktop\URJC\SEGUNDO_CUATRIMESTRE\VISION_ARTIFICIAL\PRACITCA_1\VA_Practica1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
